/*Variables*/

:root{
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-blue: #81b3d2;
    --basic-guidance-blue: #669EC0;
    --basic-press-blue: #5496BD;
    --basic-gray: #766357;
    --basic-guidance-gray: #604E43;
    --basic-press-gray: #503E33;
    --basic-background: #EEEEEE;
    --basic-font: #333333;
     

}
/*Global*/
body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 2;
    font-weight: 700;
    color: var(--basic-font);
    text-transform: uppercase;
    background-color: var(--basic-background);
    background-image: url("../img/background photo.jpg");
    background-position: top center;
    background-repeat: no-repeat;
  }
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  /* Main navigation */

  .main-navigation  {
    font-size: 14px;
    line-height: 2;
    color: var(--basic-white);
    background-color: transparent;
  }
  
  .main-navigation-wrapper {
    background-color: var(--basic-white);
  }
  
  .site-navigation {
    list-style: none;
  }
  .site-navigation-current a:not([href]) {
    background-color: var(--basic-black);
  }
  
  /* User navigation */
  
  
  .site-navigation a,
  .user-navigation a {
    color: var(--basic-press-blue);
  }
  
  .site-navigation a:hover,
  .site-navigation a:focus,
  .user-navigation a:hover,
  .user-navigation a:focus {
    background-color: var(--basic-guidance-blue);
  }
  /* Features */
.features {
font-size: 21px;
line-height: 26px;
}

.features-list {
    list-style: none;
  }
  
  .feature-item {
    text-align: center;
  }
  
  .feature-item h3 {
    font-size: 21px;
    line-height: 2;
  }
  /* Button */

.button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-blue);
    border: none;
  }
.button:hover,
.button:focus,
.button:active {
  background-color: var(--basic-guidance-blue);
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-gray);
}
/* Main footer */

.main-footer {
    color: var(--basic-font);
    background-color: rgba(255, 255, 255, 0.9);
    background-position: 0 0;
    background-repeat: repeat;
  }
  
.footer-contacts a {
    color: var(--basic-blue);
    text-decoration: underline;
  }
  
  .footer-contacts a:hover,
  .footer-contacts a:focus {
    text-decoration: none;
  }
  .footer-social {
    text-align: center;
  }
  
  .footer-social ul {
    list-style: none;
  }
  
  .footer-social h2 {
    font-size: 14px;
  
  }
  
  /* Social button */
  
  .style-social {
    list-style: none;

  }
  .social-button {
    color: inherit;
    background-color: var(--basic-blue) ;
  }
  
  .social-button:hover,
  .social-button:focus {
    background-color: var(--basic-press-blue);
  }
  
.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
